.titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white; 
    font-weight: 800; 
}

.h4 {
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    color:silver;
    text-align: center;
}

.links {
    text-align: justify;
    color: silver;
    text-decoration: none;
    position: relative;
    left: 50px;
}

.color {
    color: silver;
    text-decoration: none;
}

.searchbar{
    position: relative;
    left: 800px;
}