.img {
    width: 25%;
    height: 25%;
}

.div {
    width: 25%;
    height: 25%;
    text-align: center;
    float:left;
    margin: 50px;
    padding: 20px;
    background-color: #ffffff;
    position: relative;
}

.div:hover{
    background-color: #222926;
    color: white;
}

.trash {
    color: red;
    cursor: pointer;
    position: absolute;
    top:0;
    right:0;
}