.img {
    width: 15vh;
    height: fit-content;
    object-fit: cover;
}

.div {
    width: 50vh;
    height: 25vh;
    text-align: center;
    float:left;
    margin: 50px;
    padding: 10px;
    background-color: #ffffff;
    position: relative;
}

.div:hover{
    background-color: #222926;
    color: white;
}

.trash {
    color: red;
    cursor: pointer;
    position: absolute;
    top:0;
    right:0;
}